# Variables for common environment

# Application settings
NEXT_PUBLIC_APPLICATION_NAME='Streaming Events App'
PORT=8080

# Jwt settings
NEXT_PUBLIC_ACCESS_TOKEN_COOKIE_NAME=change_this_access_token_cookie_name
NEXT_PUBLIC_REFRESH_TOKEN_COOKIE_NAME=change_this_refresh_token_cookie_name

# i18n settings
NEXT_PUBLIC_I18N_FALLBACK_LANGUAGE=change_this_i18n_fallback_language
NEXT_PUBLIC_I18N_SUPPORTED_LANGUAGES=change_this_i18n_supported_languages
NEXT_PUBLIC_I18N_COOKIE_NAME=change_this_i18n_cookie_name
NEXT_PUBLIC_I18N_DEFAULT_NS=change_this_i18n_default_ns

# Platforms settings
NEXT_PUBLIC_PLATFORMS_LIST=change_this_platforms_list