# Mongo settings
MONGO_INITDB_ROOT_USERNAME=change_this_username
MONGO_INITDB_ROOT_PASSWORD=change_this_password
MONGO_INITDB_DATABASE=change_this_database_name

# NestJS settings
NESTJS_MONGODB_URI=mongodb://change_this_username:change_this_password@mongo:27017/change_this_database_name?authSource=admin