# Variables for common environment

# Application settings
NESTJS_APPLICATION_API_PREFIX=api/v1
NESTJS_APPLICATION_NAME='Streaming Events App'

# Jwt settings
NESTJS_JWT_SECRET=change_this_jwt_secret
NESTJS_JWT_EXPIRES_IN=change_this_expires_in
NESTJS_JWT_REFRESH_SECRET=change_this_jwt_refresh_secret
NESTJS_JWT_REFRESH_EXPIRES_IN=change_this_refresh_expires_in

NESTJS_AUTHORIZATION_HEADER=change_this_authorization_header
NESTJS_REFRESH_TOKEN_HEADER=change_this_refresh_token_header

NESTJS_ACCESS_TOKEN_COOKIE_NAME=change_this_access_token_cookie_name
NESTJS_REFRESH_TOKEN_COOKIE_NAME=change_this_refresh_token_cookie_name

# i18n settings
NESTJS_I18N_FALLBACK_LANGUAGE=en
NESTJS_I18N_SUPPORTED_LANGUAGES=en,ru

# Swagger settings
NESTJS_SWAGGER_TITLE='Streaming Events Backend API'
NESTJS_SWAGGER_DESCRIPTION='The Backend API for Streaming Events application'

# Twitch settings
NESTJS_TWITCH_CLIENT_ID=change_this_client_id
NESTJS_TWITCH_CLIENT_SECRET=change_this_client_secret

NESTJS_TWITCH_ID_URL=https://id.twitch.tv
NESTJS_TWITCH_API_URL=https://api.twitch.tv

NESTJS_TWITCH_AUTH_SCOPES=channel:manage:broadcast,channel:manage:polls,moderator:manage:announcements

# Youtube settings
NESTJS_YOUTUBE_CLIENT_ID=change_this_client_id
NESTJS_YOUTUBE_CLIENT_SECRET=change_this_client_secret

NESTJS_YOUTUBE_ACCOUNTS_URL=https://accounts.google.com
NESTJS_YOUTUBE_OAUTH2_URL=https://oauth2.googleapis.com
NESTJS_YOUTUBE_API_URL=https://www.googleapis.com

NESTJS_YOUTUBE_AUTH_SCOPES=https://www.googleapis.com/auth/youtube.readonly,https://www.googleapis.com/auth/youtube.upload,https://www.googleapis.com/auth/youtube.force-ssl,https://www.googleapis.com/auth/userinfo.profile,https://www.googleapis.com/auth/userinfo.email
