# Variables for common environment

# Application settings
NESTJS_APPLICATION_API_PREFIX=api/v1

# Twitch settings
NESTJS_TWITCH_CLIENT_ID=change_this_client_id
NESTJS_TWITCH_CLIENT_SECRET=change_this_client_secret

NESTJS_TWITCH_ID_URL=https://id.twitch.tv
NESTJS_TWITCH_API_URL=https://api.twitch.tv

NESTJS_TWITCH_AUTH_SCOPES=channel:manage:broadcast,channel:manage:polls,moderator:manage:announcements

# i18n settings
NESTJS_I18N_FALLBACK_LANGUAGE=en
NESTJS_I18N_SUPPORTED_LANGUAGES=en,ru

# Swagger settings
NESTJS_SWAGGER_TITLE='Streaming Events Backend API'
NESTJS_SWAGGER_DESCRIPTION='The Backend API for Streaming Events application'