# Mongo settings
MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=change_this_password
MONGO_INITDB_DATABASE=streaming_events

# NestJS settings
NESTJS_MONGODB_URI=mongodb://admin:change_this_password@mongo:27017/streaming_events?authSource=admin