@use "@app/shared/ui/styles/rem" as *;

.root {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.icon {
  position: relative;
  z-index: 2;
}

.label {
  padding: rem(0 8px);
  font-size: rem(26px);
  font-weight: 700;
  color: var(--str-black-color);
}
